doctype html
html(lang='es')

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Prueba i2b

		link(rel='stylesheet', href='css/styles.css')

	body
		.content
			.header
				.nav
					.nav-logo
						img(src='img/logo.png') 
					.nav-nav
						ul
							li
								a(href="#") INICIO
							li
								a(href="#") QUIÉNES SOMOS
							li
								a(href="#") QUÉ HACEMOS
							li
								a(href="#") CÓMO LO HACEMOS
							li
								a(href="#") CLIENTES
							li
								a(href="#") BLOG
							li
								a(href="#") ESCRÍBENOS
			.slider
				.sl-img
					img(src="img/slider.png")

			.articles

				.article.art-us
					.art-img
						img(src="img/img1.png")

					.us-content
						h3.title POR QUÉ NOSOTROS
						.box-us 
							p 
								| A la fecha I2B posee más de 55 empleados los que desarrollan más de 100 proyectos de software al año, 
								span generando valor  
								| para grandes compañías de Chile y el extranjero. 

							p 
								| Nuestro foco de desarrollo se basa en la calidad y en la adherencia de estándares de Desarrollo de Software de la industria web, lo que 

								span garantiza a nuestros clientes proyectos que resuelven sus problemáticas de negocio, 

								| en tiempos aceptables de desarrollo, y con la calidad necesaria para agregar valor a sus empresas.


				.article.art-work
					.art-img
						img(src="img/img2.png")

					.work-content
						h3.title CÓMO TRABAJAMOS
						.box-work
							.devel
								.work-img
									img(src="img/user.png")
								.work-title CONSULTORÍA
								.work-texto Lorem ipsum dolor sit amet,consectetuer adipiscing elit. 
								img.next(src="img/next.png")
							.devel
								.work-img
									img(src="img/letter.png")
								.work-title ARQUITECTURA
								.work-texto Lorem ipsum dolor sit amet,consectetuer adipiscing elit. 
								img.next(src="img/next.png")
							.devel
								.work-img
									img(src="img/light.png")
								.work-title DISEÑO
								.work-texto Lorem ipsum dolor sit amet,consectetuer adipiscing elit.
								img.next(src="img/next.png")
							.devel
								.work-img
									img(src="img/pc.png")
								.work-title IMPLEMENTACIÓN
								.work-texto Lorem ipsum dolor sit amet,consectetuer adipiscing elit. 
								img.next(src="img/next.png")
							.devel
								.work-img
									img(src="img/check.png")
								.work-title QA
								.work-texto Lorem ipsum dolor sit amet,consectetuer adipiscing elit. 

				.article.art-success
					.art-img
						img(src="img/img3.png")

					.succ-content
						h3.title CASOS DE ÉXITO
						.box-success
							img(src="img/c_open.png")
							
							p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
							
							img(src="img/c_close.png")
						.firma
							p.nombre Juan Pablo Pérez
							p.cargo Gerente de Informa - Entel

			.footer
				.box-footer
					.paises
						ul
							li CHILE
							li Av. Providencia 929, piso 3
							li Providencia, Santiago
							li 56 2 655 2200

						ul
							li COLOMBIA
							li World Trade Center of A11/A12
							li Barranquilla, Colombia
							li 57 5 360 6940

					.redes
						img(src="img/email.png")
						img(src="img/in.png")
						img(src="img/face.png")
						img(src="img/tw.png")
						
						.clear

						p I2B Intelligence to Business S.A. Algunos derechos reservados.